.dub
docs.json
__dummy.html
docs/
/flatbuffers-d
flatbuffers-d.so
flatbuffers-d.dylib
flatbuffers-d.dll
flatbuffers-d.a
flatbuffers-d.lib
flatbuffers-d-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*~
test/flatc
*.zip
*#